<% if user_signed_in? %>
  <% if current_user.admin? || current_user.superadmin? %>
    <%= render 'shared/side_navbar' %>
  <% else %>
    <div class="navbar navbar-expand navbar-light callguru-navbar-agent">
      <%= link_to root_path, class: "callguru-brand" do %>
        <%= image_tag "callguru_logo.png" %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Projects", "#", class: "nav-link d-none d-sm-block" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link d-none d-sm-block" %>
          </li>
          <li class="navbar-nav mr-auto">
            <%= link_to 'Manager Dashboard', change_sign_in_as_path(user_id: current_user.id), class: "change-signin nav-link d-none d-sm-block" %>
          </li>
          <li class="nav-item dropdown">
            <div class="callguru-navbar-md-lg dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Home", "#", class: "dropdown-item d-xs-block d-sm-none" %>
              <%= link_to "Messages", "#", class: "dropdown-item d-xs-block d-sm-none" %>
              <%= link_to "Manager Dashboard", change_sign_in_as_path(user_id: current_user.id), class: "dropdown-item d-xs-bloc d-sm-none" %>
              <%= link_to "Log out", destroy_user_session_path(user_id: current_user.id), method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler callguru-navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" aria-haspopup="true" >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="navbar navbar-expand-sm navbar-light callguru-navbar-agent">
    <%= link_to root_path, class: "callguru-brand" do %>
      <%= image_tag "callguru_logo.png" %>
    <% end %>

    <button class="callguru navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
