<% if current_user.user? %>
  <div class="section-show-wrapper">
    <div class="section-show-container">
      <h3><%= @section.name %></h3>
      <p><%= simple_format(strip_tags(@section.scripts.first.text)) %></p>
      <% if @next_section.present? %>
        <%= link_to 'Next', section_show_path(@next_section, @call), class: 'callguru-button btn section-button-position next-section-button' %>
      <% end %>
      <% if @prev_section.present? %>
        <%= link_to 'Back', section_show_path(@prev_section, @call), class: 'callguru-button btn section-button-position prev-section-button' %>
      <% end %>
      <%= link_to 'End Call', '#', class: 'callguru-button end-call-button btn' %>
    </div>
  </div>
  <div class="features-wrapper">
    <p style="opacity: 0.4;">This is the features field, where the manager can add different kinds of shortcuts for his/her agent.</p>
  </div>
  <%= render 'shared/footer', project: @project, call: @call %>
<% end %>
