<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :goal %>
</div>

<div class='fields'>
  <%= f.simple_fields_for :stages do |builder| %>
    <%= render 'stage', f: builder %>
  <% end %>
</div>
<div class="form-actions">
  <%= f.button :submit, class: 'callguru-button' %>
  <%= link_to_add_fields('Add Stage', f, :stages, class: 'btn callguru-button') %>
</div>
