<div class="one-input">
  <%= f.input_field :_destroy, as: :hidden %>
  <%= link_to 'Delete', '#', class: 'remove_record' %>
  <%= f.input :name, label: false, placeholder: 'Section' %>
  <div class='fields'>
    <%= f.simple_fields_for :scripts do |f| %>
      <%= f.input :name, label: false, placeholder: 'Script' %>
      <%= f.input :text, label: false %>
    <% end %>
  </div>
</div>
