<div class="one-input">
  <%= f.input_field :_destroy, as: :hidden %>
  <%= link_to 'Delete', '#', class: 'remove_record' %>
  <%= f.input :name, label: false, placeholder: 'Section' %>
  <div class='fields'>
    <%= f.simple_fields_for :scripts do |builder| %>
      <%= render 'script', f: builder %>
    <% end %>
  </div>
  <div class="from-action d-none">
      <%= link_to_add_fields('Add Script', f, :scripts, class: 'btn callguru-button add-script-button new-add-fields') %>
  </div>
</div>
