<% if current_user.admin? || current_user.superadmin? %>
  <div class="project-card-dashboard-wrapper">
    <div class="buttons">
      <!-- create new project button -->
      <%= link_to 'create new project', new_user_project_path(current_user), class: 'callguru-button' %>
      <div class="callguru-button just-border icon">
        <i class="fas fa-filter"></i>
        <p>Filter</p>
      </div>
    </div>
    <div class="project-card-wrapper">
      <% @projects.each do |project| %>
        <%= render 'shared/project_card_dashboard', project: project %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="project-card-wrapper agent no-footer">
    <h4>start a call</h4>
    <div class="project-card-controller">
      <% @projects.each do |project| %>
        <% if project.stages.length > 0 %>
          <% if project.stages.last.sections.length > 0 %>
            <% team = Team.where(user_id: current_user.id, project_id: project.id).first %>
            <%= link_to team_calls_path(team.id), method: :post, class: 'link-to-project' do %>
              <div class="project-card">
                <%= project.name %>
                <p class="text">goal: <%= project.goal %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
