<div class="callguru-upper-navbar">
  <div class="center-text">
    <h2>Create new Project</h2>
  </div>
  <div class="buttons">
    <%= link_to 'Cancel', '#', class: 'callguru-button just-border' %>
    <%= link_to 'Save as Draft', '#', class: 'callguru-button' %>
  </div>
</div>
<div class="padding-upper-navbar">
  <div class="new-wrapper d-flex">
    <div class="form-wrapper">
      <%= simple_form_for([@user, @project]) do |f| %>
        <%= f.input :name %>
        <%= f.input :goal, wrapper_html: { class: 'd-none' } %>
        <%= f.button :submit, 'create Project', class: 'callguru-button' %>
      <% end %>
    </div>
    <div class="agent-interface-wrapper">
      <p class="preview">Agent Interface Preview</p>
      <div class="agent-interface-container">
        <div class="navbar callguru-navbar-agent">
          <%= image_tag "callguru_logo.png", class: 'callguru-brand' %>
        </div>
        <div class="project-card-wrapper agent">
          <h4>start a call</h4>
          <div class="project-card-controller">
            <% @projects.each do |project| %>
              <div class="project-card">
                <%= project.name %>
                <p class="text">goal: <%= project.goal %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
